<div id="htmlData" class="container py-3">
  <div class="row">
    <div class="col-4">
      <div class=" mx-auto">
        <img [src]="info.logo" style="width: 40%;">
      </div>
    </div>
    <div class="col-4">
      <div class="text-center">
       {{info.eps | uppercase}}
       <br>
       {{info.direccion | uppercase}} Tel. {{ info.telefono}} Nit: {{ info.nit}}
       <br>
       HISTORIAS CLINICA
      </div>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        Historia No: {{ info.noHistoria}}
      </div>
    </div>
    <div class="col-4">
      <div class="text-center">
       {{info.text1}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div>
        Lugar de atención: {{ info.lugarAtencion}}
      </div>
    </div>
    <div class="col-6">
      <div>
        Fecha de impresión: {{info.fechaImpresion | date :'M/d/yy, h:mm a'}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div>
        <b>Paciente: {{paciente.tipoDocumento }} {{ paciente.numeroDocumento}} {{ paciente.primerNombre}} {{ paciente.segundoApellido}} {{ paciente.primerApellido}} {{ paciente.segundoApellido}}</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Sexo: {{ paciente.sexo}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Fecha nacimiento: {{ paciente.fechaNacimiento | date :'M/d/yy, h:mm a'}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Edad: {{ paciente.sexo}}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Grupo sanguineo: {{ paciente.grupoSangre}}
      </div>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <div>
        Estado civil: {{ paciente.estadoCivil}}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Lugar residencia: {{ paciente.lugarResidencia}}
      </div>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <div>
        Barrio: {{ paciente.barrio}}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Dirección: {{ paciente.direccion}}
      </div>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <div>
        Telefono: {{ paciente.telefono}}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        Grupo etnico: {{ paciente.etnia}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        Empresa/contrato: {{ paciente.empresa}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Cita No: {{ consulta.num_cita}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Tipo usuario: {{ paciente.tipoUsuario}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Tipo afiliado: {{ paciente.tipoAfiliado}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Estrato: {{ paciente.estrato}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div>
        Fecha cita: {{ paciente.fechaCita}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Fecha atención: {{ consulta.fecha_consulta | date :'M/d/yy, h:mm a'}}
      </div>
    </div>
    <div class="col-3">
      <div>
        Fecha salida: {{ paciente.fechaSalida}}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>MOT. CONSULTA / ENF.ACTUAL</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <b>Motivo consulta: </b> {{ consulta.motivo_consulta | uppercase}}
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div>
        <b>Enfermedad actual: </b> {{ consulta.enf_actual | uppercase}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>TIPO DE SANGRE</b>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <div>
        Hemoclasificación: {{ signos.hemoclasificacion}}
      </div>
    </div>
    <div class="col-8">
      <div>
        RH: {{ signos.rh }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>SIGNOS VITALES</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let signo of signos" class="col-3">
      {{signo.sigla }}: {{ signo.Valor ? signo.Valor : "----" }} {{signo.unidad}}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>FISICO</b>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      <div>
        <b> Estado general: </b> {{ fisico.estadoGeneral ? fisico.estadoGeneral : "----" }}
      </div>
    </div>
    <div class="col-3">
      <div>
        <b> Fecha: </b> {{ fisico.fecha }}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <div>
        <b> Abdomen: </b> {{ fisico.abdomen ? fisico.abdomen : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Cabeza: </b> {{ fisico.cabeza ? fisico.cabeza : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Ext. Inferior: </b> {{ fisico.extInferior ? fisico.extInferior : "----" }}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <div>
        <b> Ext. Superior: </b> {{ fisico.extSuperior ? fisico.extSuperior : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Genitourinaria: </b> {{ fisico.genitourinaria ? fisico.genitourinaria : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Piel: </b> {{ fisico.piel ? fisico.piel : "----" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div>
        <b> Reg. Lumbosacra: </b> {{ fisico.regLumbosacra ? fisico.regLumbosacra : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Sistema nervioso: </b> {{ fisico.sisNerv ? fisico.sisNerv : "----" }}
      </div>
    </div>
    <div class="col-4">
      <div>
        <b> Torax: </b> {{ fisico.torax ? fisico.torax : "----" }}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>DIAGNOSTICOS</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <b>Diag. Ppal: </b> <div *ngFor="let dg of diagnostico" style="display: inline;"> {{dg.principal == 1 ? dg.diagnostico : ""}} </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>FORMULACION DE MEDICAMENTOS</b>
      </div>
    </div>
  </div>
  <div class="row" style="--bs-gutter-x: 0;">
    <table class="default">
      <tr>
        <th>Medicamento</th>
        <th>Cantidad</th>
        <th>Via de uso</th>
        <th>Tiempo</th>
        <th>Dosis</th>
        <th>Frecuencia</th>
      </tr>
      <tr *ngFor="let med of medicamentos">
        <td>{{med.medicamento}}</td>
        <td>{{med.cantidad}}</td>
        <td>{{med.via}}</td>
        <td>{{med.tiempo}}</td>
        <td>{{med.dosis}}</td>
        <td>{{med.frecuencia}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>PROCEDIMIENTOS DIAGNOSTICOS</b>
      </div>
    </div>
  </div>
  <div class="row"  style="--bs-gutter-x: 0;">
    <table class="default">
      <tr>
        <th>Codigo cup</th>
        <th>Procedimiento</th>
        <th>Cant</th>
      </tr>
      <tr *ngFor="let ord of ordenamientos; index as a">
        <td>{{ord.cod}}</td>
        <td>{{ord.descripcion}}</td>
        <td>{{ord.cantidad}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>PLAN ESTUD., TRATAM. Y EVOLUCION</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
       {{ consulta.plan }}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>ANTECEDENTES</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let ant of antecedentes">
        <b>Tipo: </b>  {{ant.Tipo}}
        <br>
        <b>Medico: </b>  {{ant.Medico}}
        <br>
        <b>Fecha: </b>  {{ant.Fecha | date :'M/d/yy, h:mm a'}}
        <br>
        <b>Detallle: </b>
        <br>
        {{ant.Detalle}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>INCAPACIDAD</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngFor="let inc of incapacidad">
        <b>Empresa: </b>  {{inc.empresa}}
        <br>
        <b>Tipo: </b>  {{inc.tipo}}
        <br>
        <b>Desde: </b>  {{inc.desde}}
        <br>
        <b>Hasta: </b>  {{inc.hasta}}
        <br>
        <b>Total días: </b>{{inc.totaldias}}
        <br>
        <b>Observación: </b>
        <br>
        {{inc.observacion}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <div style="color: #1D83FF !important">
        <b>PROFESIONAL</b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <b>{{ profesional.nombre | uppercase}} </b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <b>Tarjeta profesional:  {{ profesional.tarjeta }} </b>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <b>{{ profesional.cargo | uppercase}} </b>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <button class="btn btn-primary w-100 mb-3" (click)="download()">Descargar</button>
</div>
